/* grid style sheet */
/* aim to make a separate grid css so you can use across pages and sites */

*, *::after, *::before; {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*tells CSS file that any classes that start with this will have these properties*/
[class^='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}

/*desktop*/

.col-10of10 {
	width:100%;

}
.col-8of10 {
	width:80%;
}

.col-7of10 {
	width: 70%;
}

.col-6of10 {
	width: 60%;
}

.col-5of10 {
	width:50%;
}

.col-4of10 {
	width:40%;
	float:left;
}

.col-3of10{
	float:left;
	position: relative;
	width:33.333%;
	text-align:center;
}

.col-2of10 {
	width: 20%;
	float: left;
	margin:none;
	 box-sizing: border-box;
}

.col-1of10 {
	width: 10%;
	float: left;
}

.mobile {
	display:none;
}

/* tv screen */
@media (min-width: 120em) {
	
	.fullImage {
		display:none;
	}

	nav {
		font-size:200% !important;
	}
}



/* tablet screen */

@media (min-width: 30em) and (max-width:50em) {
	.mainContainer {
		padding:0.5em;
	}

	.col-5of10{
		width:100%;
	}
	.col-3of10{
		width:100%;
	}
	.col-2of10 {
		width:50%;
	}

	.col-6of10 {
		width:100%;
	}
	nav .col-2of10 {
		width:25%;
	}

	.logo {
		display:none;
	}
	section {
		padding:0em 1em 0em 1em!important;
		margin:0!important;
	}

	.first {
		margin-top:4em !important;
	}

	.projectContainer .col-8of10 {
		width:50%;
	}

	.projectContainer .col-7of10 {
		width: 50%;
	}

	.projectContainer .col-6of10 {
		width: 50%;
	}

	.projectContainer .col-5of10 {
		width:50%;
	}

	.projectContainer .col-4of10 {
		width:50%;
		float:left;
	}

	.projectContainer .col-3of10{
		float:left;
		position: relative;
		width:50%;
		text-align:center;
	}

	.projectContainer .col-2of10 {
		width: 50%;
		float: left;
		margin:none;
		 box-sizing: border-box;
	}

	.projectContainer .col-1of10 {
		width: 50%;
		float: left;
	}




}


/* mobile screen */

@media (max-width: 30em) {
	.col-2of10{
		width:100%;
		text-align: center;
		/*padding: 1em 1em;*/
	}

	.col-3of10{
		width:100%;
	}

	.col-5of10 {
		width:100%;
	}
	.col-4of10{
		width:100%;
	}
	.col-1of10{
		width:50%;
	}

	.col-7of10 {
		width:100%;
	}

	.col-6of10{
		width:100%;
	}

	.col-1of10 {
		width:100%;
	}
	.serviceType {
		padding: 1em 1em 1em;
	}
	section {
		padding:2em 1em 1em 1em!important;
		margin:0!important;

	}
	nav .button {
		border:none;
		padding: 0.25em 0em 0.25em 0em !important;
	}
	a.submit-button{
		margin:1em 3em 1em 0em !important;
		font-size: 50% !important;
		float:right !important;
	}

	.designer-intro p{
		padding-right:1em !important;
	}

	.logo {
		display:none;
	}

	.mobile {
		display:inline-block;
	}
	.desktop {
		display:none;
	}

	nav .col-2of10 {
		width:50%;
	}

	.first {
		margin-top:2em !important;
	}

	.subMenu{
		position:fixed;
		top:0;
	}
}




.grid:after{
	content:"";
	display: block;
	clear:both; /*make sure nothing remains on left or right */
}