/* grid style sheet */
/* aim to make a separate grid css so you can use across pages and sites */

*, *::after, *::before; {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*tells CSS file that any classes that start with this will have these properties*/
[class^='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}

.col-10of10 {
	width:100%;

}

.col-7of10 {
	width: 70%;
}

.col-6of10 {
	width: 60%;
}

.col-5of10 {
	width:50%;
}

.col-3of10{
	float:left;
	position: relative;
	width:33.333%;
	text-align:center;
}

.col-2of10 {
	width: 20%;
	margin:none;
}

@media (min-width: 50em) and (max-width:70em) {
	.col-5of10{
		width:100%;
	}
	.col-3of10{
		width:100%;
	}
	.designersModule{
		width:33.333%;
	}

	section {
		padding:0!important;
		margin:0!important;
	}
}



@media (min-width: 30em) and (max-width:50em) {
	.col-5of10{
		width:100%;
	}
	.col-3of10{
		width:100%;
	}
	.col-2of10 {
		width:50%;
	}

	nav .col-2of10 {
		width:20%;
	}

	section {
		padding:0!important;
		margin:0!important;
	}
}



@media (max-width: 30em) {
	.col-2of10{
		width:100%;
		border-bottom: white solid 1px;
		text-align: center;
		/*padding: 1em 1em;*/
	}

	.col-3of10{
		width:100%;
	}

	.serviceType {
		padding: 1em 1em 1em;
	}
	section {
		padding:0!important;
		margin:0!important;
	}
}


.grid:after{
	content:"";
	display: block;
	clear:both; /*make sure nothing remains on left or right */
}