body {
  font-family: 'Open Sans', sans-serif;
  margin: 0em;
  padding: 0em;
  color: #686868;
}

section {
  margin: 0em 0;
  padding: 0em 1em 0em 1em;
}


div {

}

h1 {
  font-weight:700;
  font-size:36px;
  letter-spacing:8px;
}

h2 {
  font-weight:700;
  font-size:120%;
}

h3{
  font-weight:700;
  font-size:70%;
}

/*just for the guide, this font won't be used in actual site*/
h4 {
  font-family: sans-serif;
  color: grey;
}

p { 
  font-family: 'Karla';
  text-align: left;
  line-height: 1.25;
}

nav {
  width:100%;
  padding: 0em 0em;
  position: fixed;
  background-color: #222222;
  border: 1px dotted grey;
  letter-spacing: 2;
  clear: both;
  z-index: 20;
}

nav .button {
  margin: 0em 2em 0em 2em;
  float: left;
  text-align: center;
  right:0;
}

nav img {
  display: inline-block;
  height: 100%;
}

#callToAction  {
  color: #D03967;
  font-weight: bolder;
}

.fullImage img {
  box-sizing: border-box;
  width:100%;
}

section h1 {
  color: #D03967;
}

section h3 {
  margin-bottom: 0;
}
section p {
  margin-top: 0;
  font-weight:400;
  font-size:0.8em;

}
section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}


table {
  width: 75%;
  margin: 1em 1em;
}

table, td, th {
    border: 1px dotted grey;
    text-align: center;
}

td {
  min-width: 1em;
  max-width: 6em;
  padding: 1em;
}

.mainContainer {
  margin: 0 !important;
  padding: 0 !important;
}

.coloredBox {
  display: inline-block;
 /* padding: 1em;*/
  height: 5em;
  width: 5em;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.colour1{
  background-color: #D03967;
}

.colour2{
  background-color:#222222;
  border:1px solid #222222;
  color:#FFFFFF;
}

.colour3{
  background-color: #E5E5E5;
  color: grey !important;
}


a.button {
  display: inline-block;
  margin:0px 0px 0px 0px;
  padding: 1.0em;
  color: #FFFFFF;
  background-color: #222222;
  text-decoration: none;
  font-size: 80%;
  letter-spacing: 2px;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

a.button2 {
  display: inline-block;
  font-family: 'Josefin Sans';
  padding: 0.5em 0.75em;
  background-color: none;
  text-decoration: none;
  color: #EDA958;
  border: 1px solid #EDA958;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

a.button:hover, a.button:focus {
  background-color: #D03967;
  color: white;
}

a.button2:hover, a.button2:focus {
  background-color: #EDA958;
  color: white;
  font-weight: bold;
  font-style: italic;
}

.input-wrapper {
  padding: 1em;
  border: 1px dotted grey;
}

.input-wrapper label {
  font-size: 80%;
  font-weight:700;
  padding-right:1em;
}

.input-wrapper input {
  letter-spacing: 2px;
  background-color: #E5E5E5;
  border: 2px solid #E5E5E5;
  color: #222222 !important;
  min-width: 25%;
}

.form-type-input {
  padding: 0.5em 0em 0.5em 0em;
}

.select-one {
   overflow:hidden;
   display:inline-block;
   width:350px;
   background: url("../img/arrow.png") no-repeat #fff 318px;
    /* dropdown_arrow.png is a 31x28 image */
}

.select-one option {
  padding-left: 1em;
}

select {
    border:0;
    border-radius: 0;
    background:transparent;
    height:2em;
    border:1px solid #d8d8d8;
    width:350px;
    -webkit-appearance: none;
    vertical-align: middle;
}

.image-background {
  display: inline-block;
  z-index: 0;
  background: #D03967;
}


a.clickImage {
  z-index:-1;
  opacity: 1;
  -moz-transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

a.clickImage:hover, a.clickImage:focus {
  opacity: 0.5;
}

.serviceType {
  box-sizing: border-box;
/*  padding: 1em;*/
}

.designersModule {
  box-sizing: border-box;
  float:left;
  border: 1px solid red;
  height: 300px;
  background-color: #D1D1E0;
  padding: 1em;
  position: relative;
}

.designersImage {
  border: 1px solid grey;
  background-color: grey;
  height: 100%;
}


.designersText {
  border: 1px solid grey;
  padding: 1em;
  letter-spacing: 3px;
  color: white;
  top: 0;
  position: absolute;
}

.designersText {
  vertical-align: middle;
}