body {
  font-family: 'Open Sans', sans-serif;
  margin: 0em;
  padding: 0em;
  color: #686868;
}

section {
  margin: 0em 0;
  padding: 5em 5em 0em 5em;
}


h1 {
  font-weight:700;
  font-size:36px;
  letter-spacing:8px;
}

h2 {
  font-weight:700;
  font-size:120%;
  text-align:left;
}

h3{
  font-weight:700;
  font-size:100%;
  text-align: left;
}

/*just for the guide, this font won't be used in actual site*/
h4 {
  font-family: sans-serif;
  color: grey;
  font-weight:300;
  font-size:0.8em;
  letter-spacing:2px;
}

p { 
  font-family: 'Karla';
  text-align: left;
  line-height: 1.25;
}

nav {
  width:100%;
  padding: 0em 0em;
  position: fixed;
  background-color: #222222;
  border: 1px dotted grey;
  letter-spacing: 2;
  clear: both;
  z-index: 20;
  top: 0 !important;
   box-sizing: border-box;

}

nav .button {
  margin: 0em 2em 0em 2em;
  float: left;
  text-align: center;
  right:0;
}

nav img {
  display: inline-block;
  vertical-align: middle;
}

.navOption {
  right:0;
}

#callToAction  {
  color: #D03967;
  font-weight: bolder;
}

/*.imageTextOverlay {
  position:relative;
  height:530px;
  display: table;
}*/

/*.overlayContent {
    vertical-align:middle;
    display: table-cell;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
}
*/
.fullImage {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index:0;
}

.fullImage img{
  box-sizing: border-box;
  display: inline-block;
  width:100%;
}

.introText {
    vertical-align: middle;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.introText p {
  font-size:130%;
}
.noMargins {
  padding: 0 0 0 0 !important;
}

section h1 {
  color: #D03967;
}

section h3 {
  margin-bottom: 0;
}
section p {
  margin-top: 0;
  font-weight:400;
  font-size:0.8em;

}
section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}


table {
  width: 75%;
  margin: 1em 1em;
}

table, td, th {
    border: 1px dotted grey;
    text-align: center;
}

td {
  min-width: 1em;
  max-width: 6em;
  padding: 1em;
}

.mainContainer {
  margin: 0 !important;
  padding: 0 !important;
}

.coloredBox {
  display: inline-block;
  padding: 1em;
  height: 5em;
  width: 5em;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.colour1{
  background-color: #D03967;
}

.colour2{
  background-color:#222222;
  border:1px solid #222222;
  color:#FFFFFF;
}

.colour3{
  background-color: #E5E5E5;
  color: grey !important;
}


a.button {
  display: inline-block;
  margin:0px 0px 0px 0px;
  padding: 1.0em;
  color: #FFFFFF;
  background-color: #222222;
  text-decoration: none;
  font-size: 80%;
  letter-spacing: 2px;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}


a.button:hover, a.button:focus, a.submit-button:hover, a.submit-button:focus {
  background-color: #D03967;
  color: white !important;
}

a.submit-button{
  display: inline-block;
  float:right;
  padding:0.8em 2em 0.8em 2em;
  margin:3em 3em 3em 3em;
  color: #FFFFFF;
  background-color: #222222;
  text-decoration: none;
  font-size: 80%;
  letter-spacing: 2px;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

a.button2 {
  border: 1px dotted #D03967;
  float: left;
  font-weight: bolder;
  font-family: 'Josefin Sans';
  background-color: none;
  text-decoration: none;
  color: #D03967;
  padding: 0em 1em 0em 0em;
  border: none;
  margin:none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

a.button2:hover, a.button2:focus {
  background-color: #D03967;
  color: white !important;
  font-weight: bold;
  font-style: italic;
}

.input-wrapper {
  /**padding: 1em;**/
  text-align:left;
  padding-right:3em;
  /**border: 1px dotted grey;**/
}

.input-wrapper label {
  font-size: 80%;
  font-weight:700;
}

.input-wrapper input {
  letter-spacing: 2px;
  background-color: #E5E5E5;
  border: 1px solid #E5E5E5;
  background:transparent;
  min-width: 25%;
  width:65%;
  float:right;
  height:1.5em;
  text-indent:1em;
}


.form-type-input {
  padding: 0.5em 0em 0.5em 0em;
}

.input-wrapper select{
  border-radius: 0;
  letter-spacing: 2px;
  background-color:#E5E5E5;
  border:2px solid #E5E5E5;
  color:#222222;
  background:transparent;
  height:2em;
  border:1px solid #d8d8d8;
  width:65%;
  text-indent:2em;
}

.service-option{
  padding-right:3em;
}

.select-one{
  display:inline-block;
  float:right;
}

.faq{
  text-align:left;
  display:inline-block;
}

.input-wrapper textarea{
  letter-spacing: 2px;
  background-color: #E5E5E5;
  border: 1px solid #E5E5E5;
  background:transparent;
  min-width: 25%;
  width:100%;
  float:right;
  height:10em;
  float:center;
}




/**
.select-one {
   overflow:hidden;
   display:inline-block;
   width:350px;
   background: url("../img/arrow.png") no-repeat #fff 318px;
    /* dropdown_arrow.png is a 31x28 image 
}

.select-one option {
  padding-left: 1em;
}

.input-wrapper select {
    border:0;
    border-radius: 0;
    background-color: #E5E5E5;
    border: 2px solid #E5E5E5;
    background:transparent;
    height:2em;
    border:1px solid #d8d8d8;
    width:70%;
    -webkit-appearance: none;
    vertical-align: middle;
}
*/

.image-background {
  display: inline-block;
  z-index: 0;
  background: #D03967;
}


a.clickImage {
  z-index:-1;
  opacity: 1;
 /* -moz-transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;*/

}

a.clickImage img {
  -moz-transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;  
}

a.clickImage:hover img {
  opacity: 0.5;
}


.serviceType {
  box-sizing: border-box;
  padding: 2em;
}

.serviceType p{
  text-align:left;
}

.serviceType h2{
  text-align:center;
}

.designersModule {
  box-sizing: border-box;
  float:left;
  position: relative;
  background-color: #D03967;
}


.designersImage {
  height: 100%;
}

.designersImage img {
    height: 100%;
    width: 100%;
    -webkit-filter: grayscale(90%); filter: grayscale(100%);
}

.designersText {
  padding: 4em;
  letter-spacing: 3px;
  color: white;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  box-sizing: border-box;
}

.designersText p{
  text-align: center !important;
}

.personalInfo {
  padding-right: 2em;
}


.form{
  display:inline-block;
  margin:5em 5em 2em 5em;
}

.form h2{
  text-align:left;
}

.info-form{
  display:inline-block;
  text-align:left;
}

.info-form h2{
  text-align:left;
}

.formField {
  margin: 0px !important;
  float:left;
  position:relative;
}



footer{
  background-color:black;
  padding-bottom:10em;
  padding-top:4em;
  margin-top:4em;
}

.homeFooter p{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size:0.6em;
  color: #FFFFFF;
  text-align: center;
}

.homeFooter{
  display:inline-block;
}

.homeFooter img{
  padding:0.2em;
}


.personalInfo h2 {
  font-size:300%;
  line-height: 0.25em;
  padding: 0 0 0 0 !important;
}

.personalInfo strong {
  color: #D03967;
}

.areasOfWork {
  margin-bottom: 1em;
}

.projectThumb {
  overflow:hidden;
  max-height:10em;
}

.projectThumb img {
  max-width:100%;
  min-width:100%;
  min-height:100%;
  width: auto !important;

}

.book {
  padding-top: 4em;
  text-align: center !important;
  color: white;
  margin: 0 auto;
}

.areasOfWork button {
  padding: none;
}

.graphicDesign img {
  opacity: 0.5;
}

.webDesign img {
  opacity: 0.75;
}

.photography img {
  opacity: 0.25;
}

.illustration img {
  opacity: 0.01;
}

.interactionDesign img {
  opacity: 1;
}

.itsHidden {
  visibility: none;
  display:none;
  position: absolu
  te;
  opacity: 0;
}

.itsShown {
  visibility: visible;
  display: block;
  opacity: 1;
}

.designer-intro{
  text-align:left;
  padding:1em;
  
}

.profile-img img{
  padding-top:1.5em;
}

.choose-one{
  border-bottom:1px dotted black;
  padding-top:3em;
  padding-bottom:1em;
}
